* {
    outline: 2px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.class-for-index {
    font-family: "Kanit", sans-serif;
    /* text-align: center; */
}

ul {
    font-size: 1em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.class-for-page {
    font-family: "Kanit", sans-serif;
    background-color: whitesmoke;
}

.page-description {
    background-color: aquamarine;
}

.page-ingredients {
    background-color: coral;
}

.page-steps {
    background-color: cornflowerblue;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.container {
    width: 600px;
    margin: auto;
    text-align: center;
}

.odin {
    width: 600px;
}