* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    /* border: 2px solid green; */
}

/* CSS FOR INDEX */

.header-container {
    width: 100%;
    min-height: 128.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(18, 24, 38);
    border-bottom: 2px solid rgb(210, 213, 218);
}

.logo-container {
    display: flex;
    color: rgb(210, 213, 218);
}

.logo {
    padding: 10px;
}

#odin {
    width: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h1 {
    font-size: 3em;
}

.title h3 {
    font-weight: 100;
    font-style: italic;
}

.nav {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.nav div {
    /* padding: 5px 10px; */
}

.nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(210, 213, 218);
}

.nav a:hover {
    color: rgb(122, 92, 79);
    transition-duration: 0.5s;
}

.index-body-container {
    width: 100%;
    height: 1000px;
    background-image: url("./images/background.jpg");
    background-position: 100% 35%;
}

.footer-container {
    width: 100%;
    display: flex;
    background-color: rgb(18, 24, 38);
    border-top: 2px solid rgb(210, 213, 218);
}

.footer-container div {
    color: rgb(210, 213, 218);
    padding: 20px;
}


/* CSS FOR PAGES */

.page-body-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.recipe-container {
    width: 800px;
    padding: 20px 20px;
}

#tri-tip {
    width: 760px;
}

.recipe-ingredients ul {
    list-style-type: none;
}

.recipe-steps ol {
    list-style-type: none;
}

.recipe-margin {
    margin-bottom: 20px;
}

.recipe-spacing {
    line-height: 2em;
}

.recipe-spacing h2 {
    margin-bottom: 10px;
}

.recipe-spacing p,
ul,
ol {
    padding: 10px;
}